image: "python:3.7"

before_script:
  - python --version
  - pip install -r requirements.txt

stages:
  - Static Analysis
  - Test
  - Build Push Image

pylint:
  stage: Static Analysis
  allow_failure: true
  script:
  - pylint main.py

unittests:
  stage: Test
  script:
  - python test.py

Build Push:
  stage: Build Push Image
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://dindservice:2375
    DOCKER_TLS_CERTDIR: ""
  services:
    - name: docker:stable-dind
      alias: dindservice
  before_script:
    - docker info
  script:
    - docker login -u ${REGISTRY_USER} -p ${REGISTRY_PASSWORD} ${REGISTRY_URL}
    - docker build -t ${REGISTRY_URL}/${IMAGE_NAME}:${TAG_NAME} .
    - docker push ${REGISTRY_URL}/${IMAGE_NAME}:${TAG_NAME}

  # image: quay.io/buildah/stable:v1.18.0
  # script:
  #   - buildah login -u ${REGISTRY_USER} -p ${REGISTRY_PASSWORD} ${REGISTRY_URL}
  #   - buildah bud -t ${IMAGE_NAME}:${TAG_NAME} .
  #   - buildah push ${IMAGE_NAME}:${TAG_NAME} ${REGISTRY_URL}/${IMAGE_NAME}:${TAG_NAME}

