image: "python:3.7"

before_script:
  - python --version
  - pip install -r requirements.txt

stages:
  - Static Analysis
  - Test

pylint:
  stage: Static Analysis
  allow_failure: true
  script:
  - pylint -d C0301 main.py

unit_test:
  stage: Test
  script:
  - python test.py
